body {
    background-color: black;
    color: white;
}


#gameboy {
    margin: auto;
    width: 800px;
    height: 600px;
    background-image: url("../images/gameboy.png");
}

.screen {
    position: absolute;
    top: 192px;
    left: 242px;
}