# Compiled Source #
###################
*.class

# Package Files #
#################
*.jar
*.war
*.ear

# Testing Folders #
###################
The Wizard's Tower-JS/
/nbproject/private/
*/nbproject/
/manifest.mf
/build.xml
/build/
/nbdist/

# Gradle        #
#################

.gradle/
build/
out/
/.nb-gradle/private/
/.nb-gradle/
/common/target/
/editor/target/
/deps/target/
/editor/nbactions.xml
**/nb-configuration.xml
/target/

# Maven #
#########
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Log Files  #
##############
*.log

# Engine zip #
##############
engine-html5.zip
